################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nrf52_usb_hid_proxy/VisualGDB/Debug
/nrf52_usb_hid_proxy/VisualGDB/VisualGDBCache/nrf52_usb_hid_proxy-Debug
/VisualGDB/Debug
/.vs/nrf52_usb_hid_proxy/v15
/nrf52_usb_hid_proxy/VisualGDB
/VisualGDB/Release
