################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nrf52_usb_hid_proxy/VisualGDB/Debug
